
a:hover {
  text-decoration: none;
}


.viewer code {
  font-weight: normal;
  font-size: 14px;
  box-shadow: none;
  background-color: transparent;
  color: white;
}
.viewer p > code {
  font-weight: bold;
  color: orange;
  font-family: "Noto Serif SC";
}
.viewer pre {
  background-color: transparent;
}
.viewer code:before,
.viewer code:after {
  content: none;
}
.viewer p,
.viewer blockquote,
.viewer ol {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5em;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}
.viewer pre > span {
  text-align: right;
  display: block;
  margin-bottom: -10px;
  font-size: 10px;
  color: #ccc;
}
.tocfix {
  display: block;
  height: 56px;
  margin-top: -56px;
  visibility: hidden;
}
.viewer > pre {
  border: solid #eee 1px;
  border-radius: 5px;
  padding: 0 7px 10px 7px;
  margin-bottom: 10px;
}
.viewer > blockquote {
  border-left: 5px solid white;
  padding-left: 1em;
}
.viewer p > a,
.toc li > a {
  font-size: 14px;
  color: rgb(135, 206, 250);
}
.toc li {
  list-style-type: none;
}
.katex {
  font-size: 16px;
}
.v-icon.v-icon {
  font-size: 16px;
}


.row:before,
.row:after {
  display: none;
}


a:focus {
  text-decoration-line: none;
}


.chip,
.article {
  margin: 10px 0;
}


body {
  background-color: #272727;
}
#app {
  font-family: 'Noto Serif SC';
}
a {
    text-decoration: none;
}
.v-btn {
  text-transform: none;
}


/*# sourceMappingURL=app.css.map*/